requests
pymongo
schedule
pydicom
pynetdicom
image
numpy
pandas
pillow
pypng
pytest
pytest-mock
pytest-cov
tqdm
pycryptodomex
SQLAlchemy
dnspython>=2.6.1 # not directly required, pinned by Snyk to avoid a vulnerability
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability