requests
pymongo
schedule
pydicom
pynetdicom
image
numpy
pandas
pillow
pypng
pytest
pytest-mock
pytest-cov
tqdm
pycryptodomex
SQLAlchemy
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability